/*
********
RESET
********
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


/* 
*********
DEBUG
*********
*/

.debug .header-top {
    background-color: #a0d0e0;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.debug .menu {
    width: 1000px;
    background-color: #ce9408;
    border: 2px dashed black;
    height: auto;
    }

.debug .menu div:nth-child(2) {
    border-right: dashed  black 2px;
    border-left: dashed  black 2px;
    padding: 8px 200px;
}

.debug .header-bottom {
    background-color: #00007a;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.debug .container-header {
    width: 800px;
    background-color: #e268ed;
    border: 2px dashed black;
    height: 400px;

}

.debug .container, .container-reverse{
    width: 800px;
    border: 2px dashed black;
    height: 400px;

}

.debug .sezione {
    background-color: #ffffff;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.debug .container div:first-child {
    background-color: #1f7cff;
    width: 60%;
    
}

.debug .container div:last-child {
    background-color: #fab0c0;
    width: 40%;
    border-left: dashed black 2px;
}

.debug .sezione-2 {
    background-color: #c9c9c9;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .container-reverse {
    width: 800px;
    border: 2px dashed black;
    height: 400px;
    display: flex; 
    flex-direction: row-reverse; 
}

.debug .container-reverse div:first-child {
    background-color: #1f7cff;
    width: 60%;
}

.debug .container-reverse div:last-child {
    background-color: #fab0c0;
    width: 40%;
}


.debug .sezione-3 {
    background-color: #c9c9c9;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .container-large {
    background-color: #277b12;
    width: 800px;
    border: 2px dashed black;
    height: 700px;
    display: flex; 
    flex-direction: row-reverse; 
}

.debug .sezione-foot {
    background-color: #1b1d20;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .sezione-colonne {
    width: 800px;
    height: 400px;
    display: flex; 
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 1px;
}

.debug .colonna-main {
    width: 30%;
    background-color: #e6686d;
    border: black dashed 2px;
}

.debug .insieme-colonne {
    width: 70%;
    background-color: #2da599;
    border: white dashed 2px;
    display: flex;
}

.debug .colonna-second {
    border-right: dashed white 2px;
    width: 25%;
}

.debug .fine-foot {
    background-color: #1b1d20;
    height: 100px;
    width: 100%;
}

.debug .menu-foot {
    width: 1000px;
    background-color: #7bffc8;
    height: auto;
    }

.debug .menu-foot div:first-child{
    background-color: #faa5b4;
    border: dashed black 2px;
    padding: 2.5px 5px;
}

.debug .menu-foot div:last-child{
    background-color: #faa5b4;
    border: dashed black 2px;
    padding: 2.5px 5px;
}
/* 
*********
COMMON
*********
*/

.header-top,.header-bottom,.sezione,.container,.sezione-2,.sezione-foot{
    display: flex;
}

/* 
*********
HEADER
*********
*/



.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

header {
    display: flex;
    flex-direction: column;
}

/* 
*********
MAIN
*********
*/


/* 
*********
FOOTER
*********
*/

.fine-foot {
display: flex;
justify-content: center;
align-items: flex-end;
margin-top: 1px;
}

.menu-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    }