/*
********
RESET
********
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


/* 
*********
DEBUG
*********
*/
.debug header {
    background-color: #a0d0e0;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.debug .menu {
    width: 1000px;
    background-color: #ce9408;
    border: 2px dashed black;
    height: auto;

    
}

.debug .menu div:nth-child(2) {
    border-right: dashed  black 2px;
    border-left: dashed  black 2px;
    padding: 8px 200px;
}

/* 
*********
HEADER
*********
*/

header {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

